Package: biglinux-multi-kde
Version: 1.0.0-1big2
Depends: plasma-workspace
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:36
Description: Enable two or more options to login and KDE, like classical and new. Don't remove this package in BigLinux.

