Package: biglinux-multi-kde
Version: 1.1.3-1big8
Depends: plasma-workspace, applet-window-buttons
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:60
Description: Enable two or more options to login and KDE, like classical and new. Don't remove this package in BigLinux.

